*, *::before, *::after {
	box-sizing: border-box;
}

body:after {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	background: #000;
	opacity: .3;
	z-index: -1;
	background-image: url("../img/finca.jpg");
}

.section-content {
	padding: 7em 0;
}

#login-head-logo {
	object-fit: cover;
}